[Unit]
Description={{ systemd_service_description }}
After={{ systemd_service_after }}
Requires= {{ systemd_service_requires }}

[Service]
Type={{ systemd_service_type }}
RemainAfterExit= {{ systemd_service_remain_after_exit }}
WorkingDirectory= {{ systemd_service_working_directory }}
ExecStart={{ systemd_service_exec_start }}

[Install]
WantedBy={{ systemd_service_wanted_by }}